.profile-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  max-width: 500px;
  width: 100%;
  margin: auto;
  text-align: center;
}

.profile-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgb(233, 233, 241);
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 25px;
}

.myEvent {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgb(233, 233, 241);
  border-radius: 15px;
}

.myEvent button {
  margin-left: auto;
}

.tickets-section {
  display: flex;          
  flex-direction: row;
  gap: 20px;               
  overflow-x: auto;        
  padding-bottom: 10px;   
}

.tickets-section > * {
  flex: 0 0 auto;
}
